@import "tailwindcss";
@import "react-loading-skeleton/dist/skeleton.css";
@import "swiper/css";
@import "swiper/css/navigation";
@import "swiper/css/pagination";
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* ::-webkit-scrollbar {
  display: none;
}


.element {
  scrollbar-width: none; 
  -ms-overflow-style: none; 
} */
/* body {
  overflow-x: hidden;
} */
body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-geograph), Helvetica, Arial, sans-serif;
}

.swiper-pagination-bullet {
  background-color: #a8a8a8 !important;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background-color: #00b14f !important;
}
.swiper-pagination {
  bottom: 10px !important;
}
